html{height:100%;
	max-width: 100%;
    overflow-x: hidden;}
body{
	height:100%;
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family:微軟正黑體;
	background-color: #0f0f0f;
}
.navbar{
    position: fixed;
    background-color: rgba(255,255,255,0.8);
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align:right;
    z-index: 100;
}
.navelement{
    display: inline-block;
    margin: 0px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    color: #3e2121;
    font-size: 0.8em;
}
.btn {
    border-style: solid;
    border-color: rgba(255,255,255,0);
    border-width: 0px;
    border-bottom-width: 5px;
    font-size: 0.8em;
}
.btn:hover{
    border-color: #eb121a;
    color: #eb121a;
    transition: 0.5s;
}
.seriesBtn{
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 30px;
	margin: 10px;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	color: white;
	box-shadow: 0px 0px 0px #AAAAAA;
	top:0px;
	background-size: cover;
	transition:0.5s;
}
.seriesBtn:hover{
	top:-5px;
	box-shadow: 0px 5px 8px #AAAAAA;
}
.fullpage{
    position: relative;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    text-align: center;
    color: white;
    z-index: 0;
    text-shadow: 2px 2px 12px #000000;
}
.break{
    position: relative;
    height: 33px;
}
.fullwidth{
    position: relative;
    vertical-align: middle;
    width: 80%;
    text-align: left;
    color: white;
    z-index: 0;
    text-shadow: 2px 2px 8px #000000;
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
}
.article{
	display:block;
	width: 100%;
	max-width: 1500px;
	margin: 0px auto;
	text-align: left;
	text-align: left;
    color: white;
	text-shadow: 2px 2px 8px #000000;
}
.midImage{
    display:block;
    margin: auto;
    max-width: 600px;
}
#mtBack{
    position: fixed;
    z-index: -10;
    width: 103%;
    bottom: 0%;
}
#mtFront{
    position: fixed;
    z-index: -1;
    width: 105%;
    bottom: -10%;
}
#mountains{
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    z-index: -10;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.article h1::first-letter{
	color: #eb121a;
}
.article h2{
	padding-left: 3.5%;
}
.article p{
	padding-left: 8%;
}
.gradbubble{
	position: absolute;
	background: red; /* For browsers that do not support gradients */
	background: -webkit-radial-gradient(circle, rgba(235,18,26,1), rgba(235,18,26,0), rgba(235,18,26,0)); /* Safari */
	background: -o-radial-gradient(circle, rgba(235,18,26,1), rgba(235,18,26,0), rgba(235,18,26,0)); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, rgba(235,18,26,1), rgba(235,18,26,0), rgba(235,18,26,0)); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, rgba(235,18,26,1), rgba(255,0,0,0), rgba(235,18,26,0)); /* Standard syntax */
	width:10%;
	height:10%;
	left:50%;
	top:50%;
	opacity : 0;
	transition: 2.4s;
	z-index: -1;
/*	border-style: solid;
	border-width: 1px;
	border-color: red;*/
}
#msgboxBG{
	position: fixed;
	display: none;
	opacity: 0;
	left:0%;
	top:0%;
	width:100%;
	height:100%;
	background-color: black;
	overflow: hidden;
}
#msgbox{
	position: fixed;
	opacity: 1;
	border-radius: 20px;
	width:0%;
	height:0%;
	top:50%;
	left:50%;
	overflow: auto;
	-webkit-overflow-scrolling:touch;
	background-color: #0f0f0f;
	transition: 1s;
}
#closeBtn{
	position: absolute;
	z-index: 50;
	right:0px;
	top:0px;
	background-color: #eb121a;
	width:0px;
	height:0px;
	transition: 0.5s;
	transition-delay: 0.5s;
	color: white;
	overflow: hidden;
}
iframe{
	border-width: 0px;
	width: 100%;
	height: 100%;
}
.gotofb{
	position:relative;
	color: white;
	margin: 0px auto;
	padding: 2%;
	padding-right: 5%;
	padding-left: 5%;
	top:0px;
	display: inline-block;
	vertical-align:middle;
}
.gotofb:hover{
	text-decoration: underline;
}